[run]
omit = cryptolyzer/common/prime.py

source =
    cryptolyzer
    tools

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
fail_under = 100
include =
    cryptolyzer/**/*
    tools/*
show_missing = True
