[MAIN]

jobs=0

[MASTER]

load-plugins = pylint.extensions.no_self_use

[FORMAT]

max-line-length=120

[MESSAGES CONTROL]

disable=
    missing-docstring,
    too-few-public-methods,
    too-many-function-args,
    too-many-ancestors,
    duplicate-code,
